<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>页面布局 - 宁皓网</title>
    <link rel="stylesheet" href="../assets/css/normalize.css" />
    <link rel="stylesheet" href="../assets/css/wireframe.css" />
    <link rel="stylesheet" href="../assets/css/page.css" />
    <link rel="stylesheet" href="../assets/css/toolbar.css" />
  </head>
  <body>
    <div class="page">
      <div class="page__header">
        <div class="toolbar">
          <div class="toolbar__item wireframe__square--24">
            <a href="#"></a>
          </div>
          <div class="toolbar__item wireframe__square--24">
            <a href="#"></a>
          </div>
        </div>
      </div>
      <div class="page__aside"></div>
      <div class="page__main"></div>
    </div>
  </body>
</html>
