.page {
  display: grid;
  grid-template-columns: 96px 1fr;
  grid-template-rows: 96px auto;
  min-height: 100vh;

  grid-template-areas:
    "a h"
    "a m";
}

.page__header {
  grid-area: h;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 32px;
}

.page__aside {
  grid-area: a;
  display: flex;
  justify-content: center;
  padding: 32px;
}

.page__main {
  grid-area: m;
  padding: 32px;
}
