.page__header {
  background: #f4fa9c;
}

.page__aside {
  background: #f469a9;
}

.page__main {
  background: #88bef5;
}

.wireframe__square--24 {
  width: 24px;
  height: 24px;
  background: #1d1d1d;
}

.wireframe__square--32 {
  width: 32px;
  height: 32px;
  background: #1d1d1d;
}

.wireframe__circle--32 {
  width: 32px;
  height: 32px;
  background: #1d1d1d;
  border-radius: 50%;
}

.wireframe__card {
  min-height: 240px;
  background: #1d1d1d;
}
